{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load currency_tags %}
{#{% block title %}{% trans "Undersun Estate - Недвижимость на Пхукете, Таиланд" %}{% endblock %}#}
{% block title %}{{ page_title }}{% endblock %}
{% block structured_data %}
    {% include 'includes/home/home_structured_data.html' %}
{% endblock %}

{% block extra_css %}
    {% include 'includes/home/home_styles.html' %}
{% endblock %}
{% block extra_meta %}
      <meta name="google-site-verification" content="aP6xLXZRyd8rjDr9Pd3KDq61VSENUdQlEiup7f0TPIE">
  {% endblock %}

{% block content %}
    <!-- Hero Section -->
    {% include 'core/includes/home/home_hero_section.html' %}
    <!-- Promotional Banner Section -->
    {% include 'core/includes/home/home_promotional_banner_section.html' %}
    <!-- Featured Properties -->
    {% include 'core/includes/home/home_featured_properties_section.html' %}
    <!-- Phone Contact Form Section -->
    {% include 'core/includes/home/home_phone_contact_form_section.html' %}
    <!-- New Arrivals Section -->
{#    {% include 'core/includes/home/home_new_arrivals_section.html' %}#}
    <!-- Districts -->
{#    {% include 'core/includes/home/home_districts_section.html' %}#}
    <!-- What we do for you -->
    {% include 'core/includes/home/home_what_we_do_for_you_section.html' %}
    <!-- Property Purchase Process Steps -->
    {% include 'core/includes/home/home_property_purchase_process_steps_section.html' %}
    <!-- Our Team -->
    {% include 'core/includes/home/home_our_team_section.html' %}
    <!-- Reviews Section -->
    {% include 'core/includes/home/home_reviews_section.html' %}
    <!-- FAQ Section -->
    {% include 'core/includes/home/home_faq_section.html' %}
    <!-- Visit Office Section -->
    {% include 'core/includes/home/home_visit_office_section.html' %}
    <!-- News Section -->
    {% include 'core/includes/home/home_news_section.html' %}
{% endblock %}

{% block extra_js %}
    <!-- Inject Django data for JavaScript -->
    {% include 'includes/home/home_data_injection.html' %}
    
    <!-- Load static JavaScript files -->
    <script src="{% static 'js/home/hero.js' %}"></script>
    <script src="{% static 'js/home/process-steps.js' %}"></script>
    <script src="{% static 'js/home/featured-properties.js' %}"></script>
    <script src="{% static 'js/home/consultation.js' %}"></script>
    <script src="{% static 'js/home/search-counter.js' %}"></script>
    <script src="{% static 'js/home/our-team.js' %}"></script>
{% endblock %}
